.container {
    --container-padding: 1rem;
    --container-max-width: 1200px;
    
    margin: 0 auto;
    padding: var(--container-padding);
    max-width: var(--container-max-width);
    width: 100%;

    @media screen and (width < 768px) {
        --container-padding: 0.5rem;
        --container-max-width: 100%;
    }

    @media screen and (width > 769px) and (width < 1200px) {
        --container-padding: 1rem;
        --container-max-width: 90%;
    }

    @media screen and (width > 1201px) {
        --container-padding: 2rem;
        --container-max-width: 1200px;
    }
}
