* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading, serif);
}

p,
span,
a,
li,
button,
input,
textarea {
    font-family: var(--font-non-heading, sans-serif);
}

ul {
    list-style: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: inherit;
}