@theme {
    --font-heading: 'Playfair Display', serif;
    --font-regular: 'Roboto Condensed', sans-serif;

    --color-primary: rgb(203, 112, 74);

    --color-primary-50: rgb(255, 250, 245);
    --color-primary-100: rgb(255, 245, 240);
    --color-primary-200: rgb(255, 230, 220);
    --color-primary-300: rgb(255, 210, 190);
    --color-primary-400: rgb(255, 180, 140);
    --color-primary-500: rgb(203, 112, 74);
    --color-primary-600: rgb(180, 100, 60);
    --color-primary-700: rgb(150, 80, 50);
    --color-primary-800: rgb(120, 60, 40);
    --color-primary-900: rgb(100, 50, 30);
}