<div class="bg-primary-50">
    <div class="container mx-auto py-8 px-4 md:px-0">
        <p class="text-center text-gray-700 text-sm">
            <strong>DIU CSE Alumni Portal</strong> is a project developed by the DIU CSE Alumni Association to connect
            alumni, share knowledge, and foster community engagement. This portal is designed to facilitate
            communication, collaboration, and networking among alumni of the Computer Science and Engineering (CSE)
            department at Dhaka International University.
        </p>
    </div>
</div>