<div class="footer bottom">
    <div class="container">
        <div class="copyright">
            <p>
                <strong>DIU CSE Alumni Portal</strong> is a project developed by the DIU CSE Alumni Association to connect alumni, share knowledge, and foster community engagement. This portal is designed to facilitate communication, collaboration, and networking among alumni of the Computer Science and Engineering (CSE) department at Dhaka International University.
            </p>
        </div>
    </div>
</div>