<div class="navbar">
    <div class="navbar-primary container">
        <a routerLink="/" class="logo-container">
            <img src="/images/logo.png" class="logo" />
        </a>

        <ul class="navbar-links">
                <li><a routerLink="/membership">Membership</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/events">Events</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
    </div>
</div>